<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" />
    <title>Contact</title>
</head>
<body>
    <div class="buttons">
        <h1 class="title">Contact : </h1>
        <a href="/" class="button">Home</a>
    </div>
    <div class="cont">
        <form action="/contact" method="post" class="cont">
            <input type="email" name="email" placeholder="Email" required class="input input-1"/>
            <input type="text" name="text" placeholder="Full name" required class="input input-1"/>
            <input type="date" name="date"  required class="input input-1"/>
            <textarea class="textarea" name="comment" placeholder="put here a comment " required ></textarea>
            <div class="buttons">
                <button class="button" type="reset">reset</button>
                <button class="button" type="submit">Send</button>
                <a href="/" class="button">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>